<div class="container-sm">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Personal Manager</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#"> Task Reminder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> To Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Journal</a>
          </li>

        </ul>
        <form class="d-flex">

        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container-sm " style="height: 85vh; box-shadow: 1rem gray;">
  <div class="row">
    <div class=" col-md-4">
      <div class="card p-3 m-5 shadow g-2 bg-light  text-center">
        <a class="link-primary" href="#">
        <img src="../assets/bootstrap-icons/icons/alarm.svg" class="card-img  mt-3 card-img-size" alt="Clock" >
        </a>
        <div class="card-body">
          <h5 class="card-title text-primary">Task Reminders</h5>
        </div>
      </div>

    </div>
    <div class=" col-md-4">
      <div class="card p-3 m-5 shadow g-2 bg-light  text-center">
        <a class="link-primary" href="#">
          <img src="../assets/bootstrap-icons/icons/ui-checks.svg" class="card-img mt-3 card-img-size" alt="To Do list" ></a>
        <div class="card-body">
          <h5 class="card-title text-primary">To Do list</h5>
        </div>
      </div>
    </div>

    <div class=" col-md-4">

      <div class="card p-3 m-5 shadow g-2 bg-light text-center">
        <a class="link-light" href="#">
          <img src="../assets/bootstrap-icons/icons/journal-bookmark-fill.svg" class="card-img  mt-3 card-img-size" alt="Journal"
            >
        </a>
        <div class="card-body">
          <h5 class="card-title text-primary"> Journal </h5>
        </div>
      </div>
    </div>

    <!--<div class=" col-sm-6">

    <div class="card p-3 m-5 shadow g-2">
      <img src="../assets/bootstrap-icons/icons/journal-bookmark-fill.svg" class="card-img  mt-3" alt="Journal" width="100px" height="100px">
      <div class="card-body">
        <h5 class="card-title">Journal</h5>
      </div>
    </div>
  </div>

-->
  </div>


</div>
<router-outlet></router-outlet>
